
/* App */

.App {
    text-align: center;
}


/* Container */

.Container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* App Title */

.App_title {
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Courier New";

}

/* Input */

.Input {
    width: 40vw;
}

/* ListTodo */

.listToDo, .listToDo_Tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.listToDo_Tasks_Img {
    padding: 7px;
}

/* GitHub Logo */

.gitHub {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    width: 100vw;
}

.gitHub_text {
    color: black;
    text-decoration: none;
    padding: 0 10px;
}